*{
  box-sizing: border-box;  
}

body{
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
}

h1,h2{
  color: #333333;
}
button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #640020;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}
button:hover {background-color: #272727}

button:active {
  background-color: #f278a1b5;
  box-shadow: 0 1px #666;
  transform: translateY(5px);
}